h1 {
    font-family: Satisfy;
    font-size: 50px;
    text-align: center;
    color: black;
    padding: 1%;
}


.card{
    position: relative;
}

.image-delete-btn{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
}
