.wrapper-padding {
    padding: 1% 1% 1% 1%;
}

.table-img {
    width: 60px;
    height: auto;
}


.loading-icon {
    margin-top: 20%;
    width: 100px;
    height: auto;
}



.form-container {
    padding: 10px;
    margin-top: 20vh;
    color: white;
    -webkit-box-shadow: 0px 10px 20px 5px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 10px 20px 5px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 10px 20px 5px rgba(50, 50, 50, 0.52)
}



